/* The navigation bar */

html, body{
    font-family: 'Lato', sans-serif;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-weight: medium;
    background-color: #000;
    letter-spacing:1px;
    }

    .navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: #0000006b;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    height: 120px;
    /*animation: fadeIn 2.5s;*/
    padding-right: 14vw;
    padding-left: 14vw;
    padding-top: 50px;
    font-weight: 500;
    z-index: 9;
    }
    
    .navbar a {
    float: left;
    display: block;
    color: #FFCE1A;
    text-decoration: none;
    text-align: center;
    font-weight: lighter;
    padding-right: 5px;
    margin-right: 20px;
    margin-left: 18px;
    padding-left: 5px;
    padding-top: 30px;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing:1px;
    }

  .navbar a:hover {
    color: #FFF;
  }

  .navbar a.active {
    font-weight: bold;
  }
  
  .navbar .icon {
    display: none;
    transition: none;
  }
/* time to hardcode my navbar spacing */
  .space {
    width: 13vw;
  }

  .profile {
    width:15vw;
    height:auto;
    display:inline;
    min-width:180px;
    float:left;
    margin-right:40px;
    margin-bottom:1.4vw;
    margin-top:25px;
    filter:grayscale(95%);
  }

  @media screen and (max-width: 1420px) {
    .space{
      width: 11vw;
    }
    .navbar {
      padding-right: 9vw;
    }
  }

  @media screen and (max-width: 1250px) {
      .space{
        width: 4vw;
      }
   }

   @media screen and (max-width: 1110px) {
      .navbar {
        padding-left: 5vw;
        padding-right: 5vw;
      }
   }

   @media screen and (max-width: 977px) {
    .space{
      width: 22vw;
    }
   }


  
  @media screen and (max-width: 1160px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      transition: none;
    }
    .space{
      width: 50px;
    }
    .navbar {
      padding-right: 90px;
    }
  }
  
  @media screen and (max-width: 1160px) {
    .navbar.responsive {
        position: fixed;
        z-index: 10;
        height: 500px;
        transition: 1s;
    }
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 110px;
      padding-top: 80px;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive a:nth-child(2) {
        float: none;
        display: block;
        text-align: left;
        margin-top: 20px;
      }
    .space {
        margin-top: -20px;
        width: 0px;
        height: 0px;
    }
  }

  @media screen and (max-width: 550px) {
    .profile {
      display:block;
      margin-right:400px;
      margin-bottom: 30px;
    }
   }


  /* About content */
  .home {
    margin-top: 330px;
    color: #FFF;
    text-align: justify;
    overflow: hidden;
    margin-bottom: 300px;
  }

  .section1 {
    background: url("img/wat-ai-bg4.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    padding-right: 17vw;
    padding-left: 17vw;
  }

  .home a {
    font-size: 20px;
    color: #FFCE1A;
    transition: 0.3s;
    font-weight: bold;
  }

  .home a:hover{
    color: #fff;
  }

  .section2 {
    background: url("img/wat-ai-bg1.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-top: -60px;
    height: auto;
    padding-left: 4vw;
  }

  .about {
    background-color: #8c8c8c2d;
    color: #fff;
    width: 55%;
    min-width: 350px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #FFCE1A;
    padding: 50px;
    margin: 20px;
    margin-bottom: 300px;
    margin-right: 50px;
  }

  .grey {
    font-size: 25px;
    font-weight:bold;
    letter-spacing: 3px;
    color: #5B5B5B;
    margin-bottom: -20px;
  }

  .about a {
    font-size: 20px;
    color: #FFCE1A;
    transition: 0.3s;
    font-weight: bold;
    margin-bottom: -200px;
  }

  .about a:hover{
    color: #fff;
  }

  .slide {
    margin-top: -70px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(
    to left,
    rgb(0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0) 90%,
    rgba(0, 0, 0, 1)100%
  );
    height: 100px;
    width: 100%;
    
  }
  .tech-slideshow {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    
  }
  
  .tech-slideshow > div {
    margin-top: -50px;
    height: 204px;
    width: 3184px;
    background: url("img/slider3.png");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 22s linear infinite;
  }
  
  @keyframes moveSlideshow {
    100% { 
      transform: translateX(-49.23333%);  
    }
  }


  .footer {
    margin-top: 50px;
    background: url("img/footer.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: auto;
    padding-left: 4vw;
    display: flex;
    height:250px;
  }

  .footer a {
    line-height:25px;
    color: #FFCE1A;
  }

  .footer a:hover{
    color: #fff;
  }

  .logos {
    margin-top: 10px;
    color:#fff;
    display:flex;
  }

  .logos a {
    font-size: 20px;
    color: #ffffff;
  }

  .logos a:hover{
    color: #FFCE1A;
  }

  .footer-logo {
    display:block;
    width:30%;
    min-width:250px;
  }

  @media screen and (max-width: 570px) {
    .footer-right {
      display: none;
    }
    .footer {
      text-align: center;
      display: block;
    }
    .footer-logo {
      display:block;
      margin-right: auto;
      margin-left: auto;
    }
    .logos {
      margin-top: 20px;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
   }



/*-------------------------------------------------------------------------------*/


  .section3 {
    background: url("img/wat-ai-bg3.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-top: -60px;
    height: auto;
    padding-left: 4vw;
  }

  .membersection {
    margin-bottom: 200px;
  }


  .members {
    display:flex;
    margin-top:50px;
    align-items:center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .memberalign {
    display:flex;
    margin-left:auto;
    margin-right:auto;
  }

  .member {
    width: 180px;
    min-width: 150px;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 13px;
    transition: 0.4s;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 30px;
  }

  .member:hover{
    -webkit-transform: translateY(-10px);
	  -ms-transform:     translateY(-10px);
	  transform:         translateY(-10px);
    filter: brightness(120%);
  }

  .member img {
    border-radius: 29px;
    transition: 0.4s;
  }

  .member img:hover {
    -moz-box-shadow: 0 0 50px #fff;
    -webkit-box-shadow: 0 0 50px #ffffff52;
    box-shadow: 0px 0px 50px #ffffff52;
  }

  @media screen and (max-width: 920px) {
    .memberalign {
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
  }

  .team {
    background: url("img/wat-ai-bg7.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-top: -60px;
    height: auto;
  }

/*--------------------------------------------------------------------*/

  .section4 {
    background: url("img/wat-ai-bg1.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-top: 40px;
    height: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
  }

  .projects {
    display: inline-flex;
    margin-top:80px;
    z-index: 1;
  }

  .project {
    background-color: #8c8c8c2d;
    color: #fff;
    min-width: 350px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #FFCE1A;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 20px;
    margin-right: 50px;
    transition: 0.3s;
    width: 45%;
    margin-top: -50px;
  }

  .project:hover {
    -webkit-transform: translateY(-10px);
	  -ms-transform:     translateY(-10px);
	  transform:         translateY(-10px);
    filter: brightness(120%);
  }

  .project a {
    font-size: 15px;
    color: #FFCE1A;
    transition: 0.3s;
    font-weight: bold;
    margin-bottom: -200px;
  }

  .project a:hover{
    color: #fff;
  }

  .project i {
    font-size:12px;
    color:#fff;
  }

  @media screen and (max-width: 1075px) {
    .projects {
      display: block;
    }
    .section4 {
      background: none;
    }
    .project {
      display:block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
    }
  }

  .bottom-project {
    overflow: hidden;
    height: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
    padding-bottom: 60px;
  }



  /*--------------------------------------------------*/
  .section5 {
    background: url("img/wat-ai-bg7.png") no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin-top: -70px;
    height: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
    padding-bottom: 60px;
  }

  .contact {
    background-color: #8c8c8c2d;
    color: #fff;
    width: 45%;
    min-width: 350px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #FFCE1A;
    padding: 50px;
    margin: 20px;
    margin-bottom: 100px;
    margin-right: 50px;
  }

  .contact a {
    font-size: 20px;
    color: #FFCE1A;
    transition: 0.3s;
    font-weight: bold;
    margin-bottom: -200px;
  }

  .contact a:hover{
    color: #fff;
  }
